@{
    ViewData["Title"] = "Hemosoft Web - Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/images/home.png">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" asp-action="login" method="post">
        <img class="mb-4" src="~/images/home.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">HemosoftWeb</h1>

        <label for="username" class="sr-only">Matricula/CNPJ</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Matricula/CNPJ" required autofocus>

        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Entrar</button>
    </form>
</body>
</html>