@model HemosoftWeb.Models.Doador
@{
    ViewData["Title"] = "Cadastro de Doadores";
}

<h2>Cadastro de Doadores</h2>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label">Estado Civil</label>
                <select asp-for="EstadoCivil" class="form-control"></select>
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label">Nome Completo</label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label">Gênero</label>
                <select asp-for="Genero" class="form-control"></select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

