<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
    @* Barra de navegação *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            Hemosoft Web
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownDoador" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Doador
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="doador" asp-action="cadastrar">
                            Cadastrar Doador
                            <span class="sr-only">(current)</span>
                        </a>
                        <a class="dropdown-item" asp-controller="doador" asp-action="buscar">
                            Buscar Doador
                            <span class="sr-only">(current)</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownTriador" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Triador
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="triador" asp-action="cadastrar">
                            Cadastrar Triador
                            <span class="sr-only">(current)</span>
                        </a>
                        <a class="dropdown-item" asp-controller="triador" asp-action="buscar">
                            Buscar Triador
                            <span class="sr-only">(current)</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownSolicitante" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solicitante
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="solicitante" asp-action="cadastrar">
                            Cadastrar Solicitante
                            <span class="sr-only">(current)</span>
                        </a>
                        <a class="dropdown-item" asp-controller="solicitante" asp-action="buscar">
                            Buscar Solicitante
                            <span class="sr-only">(current)</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownSolicitacao" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solicitação
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="solicitacao" asp-action="listar">
                            Listar Solicitações
                            <span class="sr-only">(current)</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownDoacao" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Doação
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    </div>
                </li>
            </ul>
        </div>

    </nav>
    @* Conteúdo *@
    <div class="m-5">
        @RenderBody()
    </div>
    @* Rodapé *@
    <footer class="footer">
        <div class="container" id="footer-content">
            <span class="text-muted">
                &copy; @DateTime.Now.Year - Desenvolvido por
                Diego, Luis e Yuri
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>